In [7]:
from RegresionMultiple import LinearModel, read_data, anova_between_lm

In [8]:
import pandas as pd
import numpy as np

In [9]:
data = '''n   Girth Height Volume
1    8.3     70   10.3
2    8.6     65   10.3
3    8.8     63   10.2
4   10.5     72   16.4
5   10.7     81   18.8
6   10.8     83   19.7
7   11.0     66   15.6
8   11.0     75   18.2
9   11.1     80   22.6
10  11.2     75   19.9
11  11.3     79   24.2
12  11.4     76   21.0
13  11.4     76   21.4
14  11.7     69   21.3
15  12.0     75   19.1
16  12.9     74   22.2
17  12.9     85   33.8
18  13.3     86   27.4
19  13.7     71   25.7
20  13.8     64   24.9
21  14.0     78   34.5
22  14.2     80   31.7
23  14.5     74   36.3
24  16.0     72   38.3
25  16.3     77   42.6
26  17.3     81   55.4
27  17.5     82   55.7
28  17.9     80   58.3
29  18.0     80   51.5
30  18.0     80   51.0
31  20.6     87   77.0'''

lines = data.split('\n')
lines = [line.split()[1:] for line in lines]
df = pd.DataFrame(lines[1:], columns=lines[0])
df

   Girth Height Volume
0    8.3     70   10.3
1    8.6     65   10.3
2    8.8     63   10.2
3   10.5     72   16.4
4   10.7     81   18.8
5   10.8     83   19.7
6   11.0     66   15.6
7   11.0     75   18.2
8   11.1     80   22.6
9   11.2     75   19.9
10  11.3     79   24.2
11  11.4     76   21.0
12  11.4     76   21.4
13  11.7     69   21.3
14  12.0     75   19.1
15  12.9     74   22.2
16  12.9     85   33.8
17  13.3     86   27.4
18  13.7     71   25.7
19  13.8     64   24.9
20  14.0     78   34.5
21  14.2     80   31.7
22  14.5     74   36.3
23  16.0     72   38.3
24  16.3     77   42.6
25  17.3     81   55.4
26  17.5     82   55.7
27  17.9     80   58.3
28  18.0     80   51.5
29  18.0     80   51.0
30  20.6     87   77.0

In [10]:
lm_0 = LinearModel('Volume', '.', df)
lm_1 = LinearModel('Volume', ['Girth'], df)

In [11]:
lm_0.anova_table(), '', lm_1.anova_table()

(  Fuente de variación  Suma de cuadrados  Grados de libertad  \
 0           Regresión        7684.162512                   2
 1          Residuales         421.921359                  28
 2               Total        8106.083871                  30

    Cuadrados medios         F_0
 0       3842.081256  254.972337
 1         15.068620        <NA>
 2        270.202796        <NA>  ,
 '',
   Fuente de variación  Suma de cuadrados  Grados de libertad  \
 0           Regresión        7581.781332                   1
 1          Residuales         524.302539                  29
 2               Total        8106.083871                  30

    Cuadrados medios         F_0
 0       7581.781332  419.360279
 1         18.079398        <NA>
 2        270.202796        <NA>  )

In [12]:
anova_between_lm(lm_0, lm_1)

,Modelo,Grados de libertad,Suma de cuadrados,Suma de Cuadrados,F_0,p_value
0,Completo,29,524.302539,<NA>,<NA>,<NA>
1,Reducido,28,421.921359,102.381179,6.79433,0.014491